body{
        background-color: #74b9ff;
}
#header section{
    padding: 10px;
}
#header section h1{
    font-family: cursive;
}
input{
    padding-block: 10px;
    padding-inline: 5px;
}
#dropbox{
    padding-block: 10px;
    padding-inline: 5px;
    width: 17%;
}
#Loginbtn{
    padding-block: 5px;
    padding-inline: 5px;
    background-color: #0984e3;
    color: white;
}